{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
NEWS
{% endblock title %}

{% block content %}


<hr>
   {% if new %}

               <h2 style="text-align: center;">{{ new.title|censor }}</h2>
               <p style="text-align: center;">Дата публикации: {{ new.dateCreation|date:'d M Y' }}</p>
<p>&nbsp;</p>
               <p style="text-align: center;">{{ new.text|censor }}</p>

           {% for new in news %}
           {% endfor %}
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}