{% extends 'flatpages/default.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}
NEWS
{% endblock title %}

{% block content %}

   <h3>Всего: {{ news|length }} новостей</h3>

    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

   <hr>

    {% if perms.news.add_post %}
    <a href="{% url 'post_create' %}">Добавить новость</a>
    {% endif %}


   {% if news %}
       <table>
           <tr>

               <td><strong>Заголовок</strong></td>
               <td><strong>Дата публикации</strong></td>
               <td><strong>Статья</strong></td>


               {% if perms.news.change_post or perms.news.delete_post %}
               <td><strong>Действия</strong></td>
               {% endif %}

               <td><strong>Категория</strong></td>


           </tr>

           {% for new in news %}

           <tr>
               <td>{{ new.title }}</td>
               <td>{{ new.dateCreation|date:'d M Y' }}</td>
               <td>{{ new.text|truncatewords:20 }}</td>

               <td>
                   {% if perms.news.change_post %}
                   <a href="{% url 'post_update' pk=new.id %}">Изменить</a>
                   {% endif %}
                   {% if perms.news.delete_post %}
                   <a href="{% url 'post_delete' new.id %}">Удалить</a>
                   {% endif %}
               </td>
               <td>
               {% for category in new.postCategory.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category }}</a>
               {% endfor %}

               </td>>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}