{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<h2 style="text-align: center;"><strong>Д</strong><strong>обро пожаловать к профессионалам!!!</strong></h2>
<hr />
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://static.tildacdn.com/tild3364-3639-4434-b331-353462653834/stress.jpg" alt="Professionals" width="600" height="459" /></p>
<h1 style="text-align: center;"><img src="https://hr-portal.ru/files/mini/splochennost-komandy-uspeh-ili-porajenie1.jpg" alt="pic" width="400" height="262" /></h1>
{{ flatpage.content }}
{% endblock content %}